.profileCard {
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(156deg, rgba(255,255,255,0.9052871148459384) 19%, rgba(251,251,225,0.7540266106442577) 50%, rgba(239,253,251,1) 100%, rgba(255,255,255,0.406687675070028) 100%, rgba(224,253,255,0.7512254901960784) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}